//Até agora só usadas nas tags hr nos formulários de login.
.divisao{
    width: 100%;
    display: flex;
    margin-top: 1.2rem;
    margin-bottom: .2rem;
    justify-content: space-between;
    align-items: center;
}
.linha_div{
    width: 45%;
    background-color: black;
}