.formulario {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    .campo_texto{
        width: 100%;
        display: inline-block;
        font-size: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        box-sizing: border-box;
        border: 1px solid #aaa;
        border-radius: 2px;
        margin-bottom: 1rem;
        box-shadow: inset 1px 1px #ccc;
        
        @media(min-width: 500px) {
            width: calc(50% - 0.5rem);
        }
    }
    @media(min-width: 500px){
        .campo_grande {
            width: 100%;
        }
    }
    @media(min-width: 1000px){
        .campo_grande {
            width: 100%;
        }
    }
    
    h1{
        @include fonte(1.28rem, white);
        text-align: left;
        width: 100%;
        margin-bottom: .5rem;
    }
}

.botao_enviar{
    @include fonte(1rem, white);
    background: linear-gradient(lighten($cor-offgrid, 15), lighten($cor-offgrid, 5));
    border: 0;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    @extend %centralizar;
    display: block;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    &:hover{
        background: linear-gradient(lighten($cor-offgrid, 10), $cor-offgrid);
    }
    a{
        color: white;
    }
}

//As próximas duas classes são colocadas por javascript quando as senhas não são iguais nos formulários de inscrição.
.senha_valida{
    display: none;
}
//Esta também é usada na mensagem de senha incorreta no login.
.senha_invalida{
    display: block;
    width: 100%;
    color: #fc0400;
    font-size: .77rem;
}

.formulario_inscricao{
    width: 90%;
    @extend %centralizar;
}