
//Formulários um abaixo do outro ficam com bordas arredondadas só no topo do primeiro e embaixo do último.
.formulario {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.6rem;
    .campo_texto{
        width: 100%;
        display: inline-block;
        font-size: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        box-sizing: border-box;
        border: 1px solid #aaa;
        border-radius: 2px;
        margin-bottom: 1rem;
        box-shadow: inset 1px 1px #ccc;
        
        @media(min-width: 500px) {
            width: calc(50% - 0.5rem);
        }
    }
    @media(min-width: 500px){
        .campo_grande {
            width: 100%;
        }
    }
    @media(min-width: 1000px){
        .campo_grande {
            width: 100%;
        }
    }
    
    h1{
        font-size: 1.2rem;
        color: white;
        text-align: left;
        width: 100%;
    }
}
;
.botao_enviar{
    @include fonte(1rem, white, bold);
    background: linear-gradient(lighten($cor-offgrid, 15), lighten($cor-offgrid, 5));
    border: 0;
    border-radius: 0.3rem;
    box-shadow: 1px 1px #ccc;
    @extend %centralizar;
    display: block;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    &:hover{
        background: linear-gradient(lighten($cor-offgrid, 10), $cor-offgrid);
    }
    a{
        color: white;
    }
}

//As próximas duas classes são colocadas por javascript quando as senhas não são iguais nos formulários de inscrição.
.senha_valida{
    display: none;
}
//Esta também é usada na mensagem de senha incorreta no login.
.senha_invalida{
    display: block;
    width: 100%;
    color: #fc0400;
    font-size: .77rem;
}

//Usada na página inicial, para a sessão sobre ficar do lado do formulário.
.pagina_login{
    @media(min-width: 1000px){
        display: grid;
        grid-template-areas: 
            "sobre sobre"
            "mecanico cliente";
        grid-gap: 1rem;
    }
    .above_the_fold{
        grid-area: sobre;
        width: 100%;
        box-sizing: border-box;
        p{
            //@include fonte(1.35rem, darken($cor-offgrid, 20), bold);
            @include fonte(1.25rem, white);
            text-align: justify;
            width: 85%;
            @extend %centralizar;
            margin-top: 1rem;
        }
        background-image: url("../imagens/fundo.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
        .formularios_cliente{
        grid-area: cliente;
        width: 85%;
        @extend %centralizar;
    }
    .formularios_mecanico{
        grid-area: mecanico;
        width: 85%;
        @extend %centralizar;
    }

}
