html{
    //font-size: 1.25em;
    min-width: 320px;
}
body{
    font-family: "Open Sans", "Verdana", sans-serif;
    line-height: 1.5;
    background-color: #fcfcfc;
}
.conteudo{
    margin-top: 5rem;
    width: 85%;
    @extend %centralizar;

    .titulo{
        @include fonte(1.62rem, $cor-offgrid, bold);
        text-align: center;
    }
}
a {
    text-decoration: none;
}