html{
    //font-size: 1.25em;
    min-width: 320px;
}
body{
    font-family: "Open Sans", "Verdana", sans-serif;
    line-height: 1.5;
    background-color: #fcfcfc;
}
.titulo{
        @include fonte(1.62rem, $cor-offgrid, bold);
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        @media(min-width: 1000px){
            text-align: left;
            margin-left: 25rem;
            
        }
    }
a {
    text-decoration: none;
}