.titulo_lo{
    text-align: center;
    @include fonte(1.77rem, $cor-offgrid, bold);
}

.oficina_lista{
    @extend %centralizar;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    
    @media(min-width: 500px){
        width: 75%;
    }
    @media(min-width: 1000px){
        width: 50%;
    }
}
.oficina_item{
    display: flex;
    flex-wrap: wrap;
    a{
        width: 100%;
        font-size: 1.62rem;
        color: white;
    }
    h2{
        margin-left: 1rem;
        color: #f5f5ee;
    }
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    background-color: $cor-offgrid;
}