.rodape{
    font-size: 0.77rem;
    text-indent: 1.6rem;
    background-color: #eeeeee;
    box-sizing: border-box;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    color: #0c0c0c;
}