.rodape{
    margin-top: 8rem;
    font-size: 0.77rem;
    text-indent: 1.6rem;
    background-color: #eee;
    box-sizing: border-box;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    color: #0c0c0c;
}